<%- include('header'); -%>
<h1>Compose</h1>
<form class="" action="/" method="post">
<p>Title</p>
<input type="text" name="title" >
<p>post</p>
<textarea name="todaysPost" rows="8" cols="80"></textarea>
<button type="submit" name="button">publish</button>
</form>
<%- include('footer'); -%>
